In [1]:
#Creating a tuple
a=(4,5,6,7,8,9)
print(a)

(4, 5, 6, 7, 8, 9)

In [2]:
#To change element in tuple
a=(4,5,6,7)
a=a[:1]+(9,)+a[2:]
print(a)

(4, 9, 6, 7)

In [3]:
#Swapping of two numbers
x=7
y=8
x,y=y,x
print(x,y)

8 7

In [4]:
#List of tuples
student=[("Ram",20),("Karthik",18),("Arjun",19)]
print(student)
sort=sorted(student,key=lambda x:x[1])
print(sort)
sort1=sorted(student,key=lambda x:x[0])
print(sort1)

[('Ram', 20), ('Karthik', 18), ('Arjun', 19)]
[('Karthik', 18), ('Arjun', 19), ('Ram', 20)]
[('Arjun', 19), ('Karthik', 18), ('Ram', 20)]

In [5]:
#Tuple slicing
a=(2,4,6,7,8)
print(a[::-1])
print(a[0::2])
print(a[-5:])
print(a[0:])
print(a[::2])

(8, 7, 6, 4, 2)
(2, 6, 8)
(2, 4, 6, 7, 8)
(2, 4, 6, 7, 8)
(2, 6, 8)

In [6]:
#Count the no.of elements in the tuple
t=(1,2,3,4,5,6,7,8,2,2)
c=t.count(2)
print(c)

3

In [7]:
#For loop in tuple
sports=("Football","Cricket","Volleyball","Throwball")
for i in sports:
    print(i)
for i in range(len(sports)):
    print(sports[i])

Football
Cricket
Volleyball
Throwball
Football
Cricket
Volleyball
Throwball

In [8]:
#Tuple unpacking
data=(135,"Niharika",18)
rollno,name,age=data
print(rollno,name,age)

135 Niharika 18

In [10]:
#List and Tuple Datatype transformation
l=[1,2,3]
t=[4,5,6]
print(l,t)
print(list(t),tuple(l))

[1, 2, 3] [4, 5, 6]
[4, 5, 6] (1, 2, 3)