In [1]:
#Creating a set
color={"Red", "Green", "Yellow", "Black"}
print(color)

{'Green', 'Black', 'Red', 'Yellow'}

In [2]:
#Creating a set using set function
n=set((2,1,3,2,1))
print(n)

{1, 2, 3}

In [3]:
#Basic set operation
a={1,2,3}
b={3,4,5}
print(a.union(b))
print(b.union(a))
print(a.intersection(b))
print(a.difference(b))
print(b.difference(a))
print(a.symmetric_difference(b))
print(b.symmetric_difference(a))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{3}
{1, 2}
{4, 5}
{1, 2, 4, 5}
{1, 2, 4, 5}

In [4]:
#Adding a new element in a set
os={"Windows", "Linux","MacOS"}
os.add("Unix")
print(os)

{'Linux', 'Unix', 'Windows', 'MacOS'}

In [5]:
#Subject chosen
maths={"Niharika","Swetha","Ilamathi","Nishanth","Sreejish"}
cs={"Niha","Swe","Ilas","Nish","Jish"}
print("Students who are chosen both subjects:",maths.intersection(cs))
print("Students who are chosen either maths or cs:",maths.symmetric_difference(cs))
print("Students who are chosen maths alone:",maths.difference(cs))
print("Students who are chosen CS alone:",cs.difference(maths))
maths.add("Rebecca")
print(maths)

Students who are chosen both subjects: set()
Students who are chosen either maths or cs: {'Jish', 'Ilamathi', 'Swe', 'Sreejish', 'Swetha', 'Niha', 'Ilas', 'Nishanth', 'Niharika', 'Nish'}
Students who are chosen maths alone: {'Nishanth', 'Ilamathi', 'Sreejish', 'Swetha', 'Niharika'}
Students who are chosen CS alone: {'Jish', 'Ilas', 'Swe', 'Niha', 'Nish'}
{'Swetha', 'Niharika', 'Rebecca', 'Ilamathi', 'Nishanth', 'Sreejish'}

In [6]:
#Updating a set
maths={"Niharika","Swetha","Ilamathi","Nishanth","Sreejish"}
m={"Maria", "Rebecca"}
maths.update(m)
print(maths)

{'Swetha', 'Niharika', 'Rebecca', 'Nishanth', 'Ilamathi', 'Sreejish', 'Maria'}

In [7]:
#Alternative method for Updating a set 
maths={"Niharika","Swetha","Ilamathi","Nishanth","Sreejish"}
maths.update({"Roshan","Srisandh","Rebecca"})
print(maths)

{'Srisandh', 'Swetha', 'Niharika', 'Rebecca', 'Nishanth', 'Ilamathi', 'Roshan', 'Sreejish'}

In [8]:
#Type error Due to unhashable set element
maths={"Niharika","Swetha","Ilamathi","Nishanth","Sreejish"}
maths.add({"Ravi","Deepak","Dharshan"})
print(maths)

TypeError: unhashable type: 'set'

In [10]:
#Discard function
maths={"Niharika","Swetha","Ilamathi","Nishanth","Sreejish"}
maths.discard("Niharika")
print(maths)

{'Swetha', 'Ilamathi', 'Nishanth', 'Sreejish'}

In [11]:
#Remove function
maths={"Niharika","Swetha","Ilamathi","Nishanth","Sreejish"}
maths.remove("Sreejish")
print(maths)

{'Swetha', 'Niharika', 'Nishanth', 'Ilamathi'}

In [12]:
#Key error while removing non-existent element from set
maths={"Niharika","Swetha","Ilamathi","Nishanth","Sreejish"}
maths.discard("Swetha")
maths.remove("Swetha")
print(maths)

KeyError: 'Swetha'

In [13]:
#Avoiding duplicates
s={'a','c','e','d'}
s.update('and')
print(s)

{'a', 'c', 'e', 'n', 'd'}

In [14]:
#Clear function
s={'a','c','e','d'}
s.clear()
print(s)

set()